/* https://htmlandcssguidebook.com/css/box-model/#:~:text=Horizontal%20Centering%20with%20Margin */
.about-title{
	margin: 0 auto; /*0 top and bottom, auto left and right*/
    width: 50%;
    text-align: center; /* Centers the text inside the element */
    padding-top: 10vh;
    font-size : 3rem;
}
.about-description{
    margin: 0 auto; /*0 top and bottom, auto left and right*/
    text-align: center; /* Centers the text inside the element */
    max-width: 50%;
    font-size : 1.5rem;
}
.about-container {
    height: 100%;
    width: 100%;
}