---
const pageTitle = "Blog"
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<BaseLayout pageTitle={pageTitle}>
        <p>My journey learning Astro!</p>
        <ul>
			{allPosts.map((post) =>  <BlogPost title={post.frontmatter.title} url={post.url}/>)}
		</ul>
	</BaseLayout>