---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
import Greeting from "../components/Greeting";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <!-- 
  From the docs:
  Revisit your page and compare the two components. The second button works because the client:load directive tells Astro to send and rerun its JavaScript on the client when the page loads, making the component interactive. This is called a hydrated component.
  -->
  <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
</BaseLayout>
